.login{
   background-color: beige;
    height: 55vh;
    width: 55vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: relative;
  box-shadow: 0 0 15px 5px grey;
  border-radius: 20px;
}
.app{
    background-color: aquamarine;
}
.login button{
    background: rgb(38, 96, 221);
    font-size: 20px;
    height:10%;
    width:90%;
    color: white;
    padding: 0.5 rem 0;
    border-radius: 8px;
    outline:none;
    cursor: pointer;
}
.login input{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.25rem;
}