.category_header {
 
  height: 90vh;
  display: flex;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-image: url(../images/background.jpg);
}

.category_main {
 
  margin-top: -10%;
  height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}


.line {
  display: flex;
  height: 5px;
  width: 55vw;
 
  background: linear-gradient(to bottom,
      transparent 2px,
      black 2px,
      black 3px,
      transparent 3px);
}

.talk {
  font-size: 2.0rem;
}

.button_talk {
  background-color: white;
  border: none;
  color: #4CAF50;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;

  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 180px;
}

.category_holder {
 
  display: flex;
  width: 70vw;
  flex-direction: row;
  justify-content: space-around;
}

.categoryBtn {
  background-color: #4CAF50;
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 10px;

 
  height: 60px;
  width: 180px;
}

.cropholder {
 
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-around;
}