.main-head{
  background-image: linear-gradient(to right top, #bce3c1, #a8cdac, #94b898, #81a384, #6e8e71, #6a8e6d, #658e6a, #618e66, #69a271, #70b67c, #76cb88, #7ce094);  
  margin: 0;
  padding: 0 6%;  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}   
.login-boxlog { 
 
position:relative;
font-size: 25px;
padding: 0em;
margin: 0% auto;
height: 35rem;
width: 70%;
background: #FFF;
border-radius: 30px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.leftlog {
    
background-image: linear-gradient(to right top, #6bd176, #75d37e, #7ed586, #87d68d, #90d895, #84cb93, #7abe90, #72b18c, #59937b, #467568, #375853, #2b3c3b);
width: 55%;
height: 35rem;
border-radius: 30px 2px 2px 30px;

}

.header2 {
margin: 3% 0 4% 0;
margin-left: 25%;
font-weight: 300;
font-size: 38px;
}
.main-head input[type="text"]::placeholder,
.main-head input[type="password"]::placeholder{
color: #222;
}

.main-head input[type="text"],
.main-head  input[type="password"] {
display: block;
border: none;
color: rgb(0, 0, 0);
background-color: transparent;
resize: none;
outline: none;
box-sizing: border-box;
margin-left: 30%;
margin-bottom: 20px;
padding: 1%;
width: 40%;
height: 6%;
border: none;
border-bottom: 1px solid rgb(20, 13, 13);
font-weight: 400;
font-size: 1rem;
transition: 0.2s ease;
}

.main-head  input[type="text"]:focus,
.main-head input[type="password"]:focus {
border-bottom: 2px solid #16a085;
color: #000000;
transition: 0.2s ease;
}



.log_submit:hover, 
.log_submit:focus {
opacity: 0.8;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
transition: 0.1s ease;
}

.log_submit:active {
opacity: 1;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
transition: 0.1s ease;
}
.log_submit{
margin-top: 2%;
margin-left: 30%;
width: 20%;
height: 7%;
background: #16a085;
border: none;
border-radius: 10%;
color: #FFF;
font-weight: 500;
text-transform: uppercase;
transition: 0.2s ease;
cursor: pointer;
}
.logo{
margin-top: 10%;
margin-left: 30%;

}
  .rightlog {
position: absolute;
top: 0;
right: 0;
box-sizing: border-box;
background: url('../images/bg3.jpg');
width: 45%;
height: 35rem;
background-size: cover;
background-position: center;
border-radius: 0 30px 30px 0;
}  

.newacc{
font-size: 3.2rem;
padding: 4%;

}
.newaccbt{
margin-top: 20%;
margin-left: 80px;
width: 50%;
height: 3em;
border: none;
border-radius: 5px;
background-color:#41866a;
color: black;
font-weight: 500;
font-size: 1.3rem; 
transition: 0.1s ease;
cursor: pointer;
}



.Or_log{
margin-top: 2%;
margin-left: 30%;
font-size: 1.3rem;
}
.google{
width: 20%;
margin-top: 2%;
margin-left: 30%;
}