.main_dcc {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.first {
  width: 15vw;
  height: 10vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
}



.first img { 


  width: 120px;
  height: 72px;

}


.second {
  width: 85vw;
 

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
}


.header_right {
 
  margin-left: 80px;
 

}

.header_right li a {

 
  padding: 0rem 2rem;
  margin: 0rem 3rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;

}


.header_right li a:hover {
  color: #ff5ea2;
}


.buy_sell {
 
  width: 10rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
 
}

.buy_sell button {

  background: transparent;
  width: 4rem;
  height: 2rem;

}
.myprofile{
  margin-right: 30px;
  border: 1px solid black;
  border-radius: 50%;

  padding: 2px;

}


.myprofile:hover{
  
}
.profile {
  width: 33px;
  height: 33px;
 
  border-radius: 50%;
  background-image: url(../images/user.png);
  background-repeat: no-repeat;
  background-size: cover;


}





@media screen and (max-width:768px) {

  .header {

   
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin: 0px 0px;
    height: 10vh;
  }

  .search_box {
    display: block;

    margin-right: 0rem;
    margin-left: -2rem;
    width: 40%;
  }

  .search_box input {

    width: 100%;
    height: 4.5vh;
    font-size: large;
    padding-left: 5px;
    font-weight: 300;

  }

  .header_right li a {
    display: none;


  }

  .menu img {
    display: block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }


}