.trailMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tDiv{
    width: 60vw;
    height: 60vh;
    background-color: aqua;
   
   
    border-top-width: 10px;
    border-style: solid;
   
   
    
   
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes examp {
    from{
        border-top: 10px solid rgb(2,0,36);
       
    }
    to{
        border-top: 10px solid green;
    }
}


@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
