.onedata{
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    margin-top: 10px;
}

.crop_upload_text{
   
    text-align: center;
   
    margin-bottom: 20px;
    margin-top: 3px;
}