  * {
    margin: 0;
    padding: 0;
  }

 
  .main_header {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #bce3c1, #a8cdac, #94b898, #81a384, #6e8e71, #6a8e6d, #658e6a, #618e66, #69a271, #70b67c, #76cb88, #7ce094);
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    color: #222;
    font-weight: 300;
  }

  .main .login_box {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    width: 1000px;
    height: 600px;
    background: #FFF;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .left {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right top, #6bd176, #75d37e, #7ed586, #87d68d, #90d895, #84cb93, #7abe90, #72b18c, #59937b, #467568, #375853, #2b3c3b);

    box-sizing: border-box;
    border-radius: 30px 2px 2px 30px;
    padding: 40px;
    width: 520px;
    height: 600px;
  }

  .header1 {
    margin-bottom: 50px;
    text-decoration: underline;
    color: rgb(15, 73, 15);
    margin-left: 100px;
    font-weight: 300;
    font-size: 50px;
  }



 

  .main input:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }


  .main input[type="text"]::placeholder,
  .main input[type="email"]::placeholder,
  .main input[type="password"]::placeholder {
    color: #222;
  }

  .main input[type="text"],
  .main input[type="email"],
  .main input[type="password"] {
    display: block;
    border: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    resize: none;
    outline: none;
    box-sizing: border-box;
    margin-left: 30%;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid rgb(20, 13, 13);
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

  .main input[type="text"]:focus,
  .main input[type="email"]:focus,
  .main input[type="password"]:focus {
    border-bottom: 2px solid #222d2a;
    color: #000000;
    transition: 0.2s ease;
  }

  .main input[type="text"]:focus,
  .main input[type="email"]:focus,
  .main input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #010907;
    transition: 0.2s ease;
  }

  .submit {
    margin-top: 28px;
    margin-left: 150px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;

   
  }


  @keyframes sample{
    0%{
      
     
      

    }
    100%{
      border-radius:100%

    }
  }

 .submit:hover,
  .main.submit:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }

.submit:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }

.or {
  
    position: absolute;
    flex: 70%;
    top: 250px;
    left: 500px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 480px;
    height: 600px;
    background: url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 30px 30px 0;
  }



 

.loginwith {
    display: block;
   
   
    font-size: 50px;
    color: rgb(152, 187, 152);
    text-align: center;
  }
 
  .googleSignupcont{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
  }
  .googleSignup{
    width: 40%;
    align-self: center;
  }

  button.social_signin {
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }

  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }

  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }



  button.social_signin.google {
    background: #DD4B39;
  }

  @media screen and (max-width: 700px) {

    .main-head,
    .login-box {
      flex-direction: column;
    }
  }